.shop-content {
  .categories-content {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    column-gap: 15px;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}
