.paymethods{
  background-color: #494949;
  grid-template-columns: auto auto;
  display: grid;
  align-items: center;
  justify-content: space-around;
  border-block-start: 1px solid;
  border-color: #1be51a;
  padding: 20px 0;
}
.privacy{
  color: #1ae51a;
}

.copyright{
  color: white;
}